.e4_121 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:1980px;
	height:3000px;
	position:absolute;
}
.e4_123 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:137px;
	position:absolute;
	left:300px;
	top:0px;
}
.e4_124 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:15px;
	position:absolute;
	left:935px;
	top:38px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e4_125 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:24px;
	position:absolute;
	left:1079px;
	top:62px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:-1.5;
}
.e4_126 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:24px;
	position:absolute;
	left:1209px;
	top:62px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:-1.5;
}
.e4_127 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:24px;
	position:absolute;
	left:1383px;
	top:62px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:-1.5;
}
.e4_128 { 
	width:174px;
	height:53px;
	position:absolute;
	left:1491px;
	top:53px;
}
.ei4_128_3_149 { 
	background-color:rgba(2.921876013278961, 233.7500050663948, 81.40341952443123, 1);
	width:174px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}